.iconColor svg {
    fill: var(--c-activeIconcolor);
    margin-top: -0.1rem;
}

.iconColor-warning svg {
    fill: #e38500;
}

.iconAlt-gray svg {
    fill: rgba(112, 110, 107, 0.5)!important;
}

.iconColor-nonActive svg {
    fill: var(--c-NonactiveIconcolor);
    margin-top: -0.2rem;
}

.light-gray {
    background-color: rgba(245, 245, 245, 0.94);
}

.slds-icon-standard-client,
.slds-icon-standard-related-list,
.slds-icon-standard-contract,
.slds-icon-custom-custom85,
.slds-icon-custom-85,
.slds-icon-standard-partner-fund-claim {
    background-color: transparent;
}

.icon_color-pencil svg {
    fill: rgb(189, 193, 199);
}

.icon_color-pencil:hover svg {
    fill: rgb(0, 95, 178)
}
